
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/stylestudent.css">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <div class="nav__left">
            <img src="~/Content/Images/Logo.svg" alt="" class="nav__logo">
            <div class="nav__details">
                <a href="#" class="nav__name heading-1">ABC English</a>
                <div class="nav__text">The best way to improve your listening skills</div>
            </div>
        </div>
        <div class="nav__right">
            <div class="nav__search-box">
                <input type="text" placeholder="Search" class="nav__search">
                <a href="#">
                    <img src="~/Content/Images/search.svg" alt="" class="nav__search-icon">
                </a>
            </div>

            <div class="nav__group">
                <img src="~/Content/Images/calendar.svg" alt="" class="nav__icon">
                <a href="#" class="nav__subject">Personal Plan</a>
            </div>
            <div class="nav__group">
                <img src="~/Content/Images/documents-button.svg" alt="" class="nav__icon">
                <a href="#" class="nav__subject">5</a>
            </div>
            <div class="nav__profile">
                <img src="~/Content/Images/avatar.jpg" alt="" class="nav__avatar">
                <div class="nav__popup">
                    <div class="nav__popup-box-1">
                        <img src="~/Content/Images/avatar.jpg" alt="" class="nav__avatar-2">
                        <div class="nav__popup-userinfo">
                            <p class="nav__popup-username">Nam Nguyen</p>
                            <img src="~/Content/Images/creative.svg" alt="" class="nav__popup-puzzle">
                            <p class="nav__popup-puzzle-text">x3</p>
                        </div>
                    </div>
                    <div class="nav__popup-box-2">
                        <div class="nav__popup-menu">
                            <img src="~/Content/Images/heart.svg" alt="" class="nav__popup-menu-icon">
                            <a href="#" class="nav__popup-menu-title">favorite</a>
                        </div>
                        <div class="nav__popup-menu">
                            <img src="~/Content/Images/agenda.svg" alt="" class="nav__popup-menu-icon">
                            <a href="#" class="nav__popup-menu-title">My dictionary</a>
                        </div>
                        <div class="nav__popup-menu">
                            <img src="~/Content/Images/history.svg" alt="" class="nav__popup-menu-icon">
                            <a href="#" class="nav__popup-menu-title">history</a>
                        </div>
                        <div class="nav__popup-menu">
                            <img src="~/Content/Images/settings.svg" alt="" class="nav__popup-menu-icon">
                            <a href="#" class="nav__popup-menu-title">settings</a>
                        </div>
                    </div>
                    <div class="nav__popup-box-3">
                        <div class="nav__popup-menu">
                            <img src="~/Content/Images/list.svg" alt="" class="nav__popup-menu-icon">
                            <a href="#" class="nav__popup-menu-title">buy tasks</a>
                        </div>
                        <div class="nav__popup-menu">
                            <img src="~/Content/Images/vocabulary.svg" alt="" class="nav__popup-menu-icon">
                            <a href="#" class="nav__popup-menu-title">buy words</a>
                        </div>
                        <div class="nav__popup-menu">
                            <img src="~/Content/Images/calendar1.svg" alt="" class="nav__popup-menu-icon">
                            <a href="#" class="nav__popup-menu-title">buy personal plan</a>
                        </div>
                        <div class="nav__popup-menu">
                            <img src="~/Content/Images/podcasts.png" alt="" class="nav__popup-menu-icon">
                            <a href="#" class="nav__popup-menu-title">buy podcast</a>
                        </div>
                        <div class="nav__popup-menu">
                            <img src="~/Content/Images/jigsaw.svg" alt="" class="nav__popup-menu-icon">
                            <a href="#" class="nav__popup-menu-title">buy games</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <header class="header">
        <div class="header__details mb-5">
            <h2 class="heading-2">
                Products
            </h2>
            <p class="header__text">
                Select the product that fits your goals best, and start studying for free. To obtain full access, you
                can
                purchase
            </p>
        </div>

        <div class="header__products">
            <div class="product">
                <div class="product__img-box">
                    <img src="~/Content/Images/tasks.png" alt="" class="product__img">
                </div>
                <div class="product__description">
                    <h3 class="heading-3">Task</h3>
                    <p class="product__text">
                        Exciting exercises for comprehensive studying
                    </p>
                    <ul class="product__list">
                        <li class="product__item">
                            <a href="#" class="product__link">Grammar</a>
                        </li>
                        <li class="product__item">
                            <a href="#" class="product__link">Listening</a>
                        </li>
                        <li class="product__item">
                            <a href="#" class="product__link">Writting</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="product">
                <div class="product__img-box">
                    <img src="~/Content/Images/games.png" alt="" class="product__img">
                </div>
                <div class="product__description">
                    <h3 class="heading-3">Games</h3>
                    <p class="product__text">
                        Improve your English skills with funny mini-games
                    </p>
                    <ul class="product__list">
                        <li class="product__item">
                            <a href="#" class="product__link">Translating</a>
                        </li>
                        <li class="product__item">
                            <a href="#" class="product__link">Grammar</a>
                        </li>
                        <li class="product__item">
                            <a href="#" class="product__link">Listening</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="product">
                <div class="product__img-box">
                    <img src="~/Content/Images/lp.png" alt="" class="product__img">
                </div>
                <div class="product__description">
                    <h3 class="heading-3">Personal Plan</h3>
                    <p class="product__text">
                        Personal study plan in accordance with your goals
                    </p>
                    <ul class="product__list">
                        <li class="product__item">
                            <a href="#" class="product__link">For practising any skills</a>
                        </li>
                        <li class="product__item">
                            <a href="#" class="product__link">Listening</a>
                        </li>
                        <li class="product__item">
                            <a href="#" class="product__link">Writting</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="product">
                <div class="product__img-box">
                    <img src="~/Content/Images/words.png" alt="" class="product__img">
                </div>
                <div class="product__description">
                    <h3 class="heading-3">Words</h3>
                    <p class="product__text">
                        A set of practice modes to improve your vocabulary
                    </p>
                    <ul class="product__list">
                        <li class="product__item">
                            <a href="#" class="product__link">vocabulary</a>
                        </li>
                        <li class="product__item">
                            <a href="#" class="product__link">Speaking</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="product">
                <div class="product__img-box">
                    <img src="~/Content/Images/podcasts.png" alt="" class="product__img">
                </div>
                <div class="product__description">
                    <h3 class="heading-3">Podcasts</h3>
                    <p class="product__text">
                        Audio lessons with synchronous subtitles
                    </p>
                    <ul class="product__list">
                        <li class="product__item">
                            <a href="#" class="product__link">Listening</a>
                        </li>
                        <li class="product__item">
                            <a href="#" class="product__link">Speaking</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="videos">
        <h2 class="heading-2 videos__heading">New on ABC English</h2>
        <div class="video">
            <h4 class="heading-4 heading-4--yellow">videopuzzle</h4>
            <div class="video__img-box">
                <img src="~/Content/Images//video.jpg" alt="" class="video__img">
                <div class="video__layer"></div>
                <a href="#" class="btn video__btn">play</a>
            </div>
            <div class="video__title">What happens when we sleep?</div>
            <div class="video__info">
                <div class="video__difficulty video__difficulty--1">
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                </div>
                <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
                <p class="video__phrases">25 phrase</p>
            </div>
        </div>

        <div class="video">
            <h4 class="heading-4 heading-4--blue">synchronous podcast</h4>
            <div class="video__img-box">
                <img src="~/Content/Images//video1.jpg" alt="" class="video__img">
                <div class="video__layer"></div>
                <a href="#" class="btn video__btn">play</a>
            </div>
            <div class="video__title">How to treat a broken heart?</div>
            <div class="video__info">
                <div class="video__difficulty video__difficulty--2">
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                </div>
                <img src="~/Content/Images/usa.png" alt="" class="video__accent">
                <p class="video__phrases">15 phrase</p>
            </div>
        </div>

        <div class="video">
            <h4 class="heading-4 heading-4--yellow">videopuzzle</h4>
            <div class="video__img-box">
                <img src="~/Content/Images//video2.jpg" alt="" class="video__img">
                <div class="video__layer"></div>
                <a href="#" class="btn video__btn">play</a>
            </div>
            <div class="video__title">Captain Marvel (Trailer)</div>
            <div class="video__info">
                <div class="video__difficulty video__difficulty--3">
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                </div>
                <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
                <p class="video__phrases">20 phrase</p>
            </div>
        </div>

        <div class="video">
            <h4 class="heading-4 heading-4--blue">videopuzzle</h4>
            <div class="video__img-box">
                <img src="~/Content/Images//video6.jpg" alt="" class="video__img">
                <div class="video__layer"></div>
                <a href="#" class="btn video__btn">play</a>
            </div>
            <div class="video__title">How car works?</div>
            <div class="video__info">
                <div class="video__difficulty video__difficulty--1">
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                </div>
                <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
                <p class="video__phrases">25 phrase</p>
            </div>
        </div>

        <div class="video">
            <h4 class="heading-4 heading-4--yellow">videopuzzle</h4>
            <div class="video__img-box">
                <img src="~/Content/Images//video7.jpg" alt="" class="video__img">
                <div class="video__layer"></div>
                <a href="#" class="btn video__btn">play</a>
            </div>
            <div class="video__title">How good is your English?</div>
            <div class="video__info">
                <div class="video__difficulty video__difficulty--3">
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                </div>
                <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
                <p class="video__phrases">25 phrase</p>
            </div>
        </div>

        <div class="video">
            <h4 class="heading-4 heading-4--blue">videopuzzle</h4>
            <div class="video__img-box">
                <img src="~/Content/Images//video8.jpg" alt="" class="video__img">
                <div class="video__layer"></div>
                <a href="#" class="btn video__btn">play</a>
            </div>
            <div class="video__title">Law and Crime?</div>
            <div class="video__info">
                <div class="video__difficulty video__difficulty--2">
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                    <span class="video__difficutly-point"></span>
                </div>
                <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
                <p class="video__phrases">25 phrase</p>
            </div>
        </div>
    </section>

    <footer class="footer" id="contact">
        <a href="#" class="nav__name heading-1 footer__logo">ABC English</a>
        <nav class="footer__nav">

            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#home" class="footer__link">home</a>
                </li>
                <li class="footer__item">
                    <a href="#skills" class="footer__link">skills</a>
                </li>
                <li class="footer__item">
                    <a href="#projects" class="footer__link">projects</a>
                </li>
                <li class="footer__item">
                    <a href="#contact" class="footer__link">contact</a>
                </li>

            </ul>
        </nav>
        <div class="footer__details">
            <p class="footer__text">Living, learning, & leveling up one day at a time.</p>
        </div>

    </footer>
</body>

</html>
