@using ELearningProject.Models
@model IEnumerable<ELearningProject.Models.PuzzelQuestionViewModel>
@{
    ViewBag.Title = "PuzzelEnglish";
}

<h2>PuzzelEnglish</h2>

<div>
    @foreach (var q in Model)
    {
        <p>@q.Content</p>
        <br />
    }
</div>

