@using ELearningProject.Models
@model IEnumerable<ELearningProject.Models.PuzzelQuestionViewModel>
@{
    ViewBag.Title = "Puzzel English";
}

<h2>Day la mot bai test cu the</h2>

<div>
    @foreach (var q in Model)
    {
        <p>@q.Content</p>
        <br />
        <p>@q.Answer</p>
        <br>
    }
</div>

